{%extends 'dataAdmin/base.html' %}
{% load static %}
<!-- <html> -->
    {%block head%}
    <head>
        <title>Dashboard</title>
        <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
    </head>
    {%endblock%}
    <!-- <body> -->
        {%block sidebar%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <div id="widget-app-container"></div>
        {{countryRegionWidData|json_script:'countryRegionWidData'}}
        {{expressionWidData|json_script:'expressionWidData'}}
        {{dateRange|json_script:'dateRange'}}

        {{country_region_data|json_script:'country-region-data'}}
        {{expression_chars|json_script:'expression-chars'}}
        {{country_region_stat|json_script:'country-region-stat'}}
        {{expression_stat|json_script:'expression-stat'}}
        {{dateRange_stat|json_script:'dateRange-stat'}}
        <form id="widget-data-capture-form" action="{% url 'dataAdmin:dashboard' %}" method="post">
            {% csrf_token %}
        </form>

        <script>
            document.getElementById('sidebar_nav').children[0].classList.add('active');
        </script>
        <script src="{% static 'widget-bundle.js'%}"></script>
        {%endblock%}

        {%block footer%}
        
        {%endblock%}
    <!-- </body> -->
<!-- </html> -->