{%extends 'dataAdmin/base.html' %}
{% load static %}
<!-- <html> -->
    {%block head%}
    <head>
        <title>Dashboard</title>
        <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
    </head>
    {%endblock%}
    <!-- <body> -->
        {%block sidebar%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <div id="widget-app-container"></div>
        {{countryRegionWidData|json_script:'countryRegionWidData'}}
        {{expressionWidData|json_script:'expressionWidData'}}
        {{dateRange|json_script:'dateRange'}}

        {{country_region_data|json_script:'country-region-data'}}
        {{expression_chars|json_script:'expression-chars'}}
        {{country_region_stat|json_script:'country-region-stat'}}
        {{expression_stat|json_script:'expression-stat'}}
        {{dateRange_stat|json_script:'dateRange-stat'}}
        <form id="widget-data-capture-form" action="{% url 'dataAdmin:dashboard' %}" method="post">
            {% csrf_token %}
        </form>

        <script>
            document.getElementById('sidebar_nav').children[0].classList.add('active');
        </script>
        <script src="{% static 'widget-bundle.js'%}"></script>
        {%endblock%}

        
        {% block navbar-links %}
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dashboard
                        </a>
                        <style>
                            .dropdown-menu[data-bs-popper]{
                                /* right:0 !important; */
                                left:-20% !important;
                            }
                        </style>
                        <ul class="dropdown-menu" aria-labelledby="navbarAdmin" >
                            <!-- <div style="position:relative;left:-0.6cm;"> -->
                                <li><a class="dropdown-item" href="#widget_App">
                                    Filters</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" style="overflow-y:auto;" href="#countryRegion_viz">Country and Region</a></li>
                                <li><a class="dropdown-item" style="overflow-y:auto;" href="#expressionType_viz">Expression Type</a></li>
                                <li><a class="dropdown-item" style="overflow-y:auto;" href="#dateRange_viz">Date Range</a></li>
                            <!-- </div> -->
                        </ul>
                    </li>
                </ul>
            </div>
        {% endblock %}

        {%block footer%}
        
        {%endblock%}
    <!-- </body> -->
<!-- </html> -->