{%extends 'dataAdmin/base.html' %}
{% load static %}
<!-- <html> -->
    {%block head%}
    <head>
        <title>Models</title>
        <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
    </head>
    {%endblock%}
    <!-- <body> -->
        {%block sidebar%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <div id="manage-models-app_container"></div>

        
        {{models_list|json_script:'models-list'}}
        {{current_page|json_script:'current-page'}}
        {{total_pages|json_script:'total-pages'}}

        <form id="model-repo-upload-form" action="{% url 'dataAdmin:dashboard' %}" method="post">
            {% csrf_token %}
        </form>
        <script>
            document.getElementById('sidebar_nav') && document.getElementById('sidebar_nav').children[2].classList.add('active');
        </script>
        <script src="{% static 'model_app-bundle.js'%}"></script>
        {%endblock%}

        {% block navbar-links %}
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'dataAdmin:manage-models'%}">Models</a>
                    </li>
                </ul>
            </div>
        {% endblock %}

        {%block footer%}
        
        {%endblock%}
    <!-- </body> -->
<!-- </html> -->