{%extends 'dataAdmin/base.html' %}
{% load static %}
<!-- <html> -->
    {%block head%}
    <head>
        <title>Models</title>
        <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
    </head>
    {%endblock%}
    <!-- <body> -->
        {%block sidebar%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <div id="manage-models-app_container"></div>

        <form id="model-repo-upload-form" action="{% url 'dataAdmin:dashboard' %}" method="post">
            {% csrf_token %}
        </form>

        <script src="{% static 'model_app-bundle.js'%}"></script>
        {%endblock%}

        {%block footer%}
        
        {%endblock%}
    <!-- </body> -->
<!-- </html> -->