{%extends 'dataAdmin/base.html' %}
{% load static %}
<!-- <html> -->
    {%block head%}
    <head>
        <title>Models</title>
        <!-- <link rel="stylesheet" href="css/dashboard.css"> -->
    </head>
    {%endblock%}
    <!-- <body> -->
        {%block sidebar%}
            {{block.super}}
        {%endblock%}
        {%block content%}
        <div id="manage-spec_model-app_container"></div>

        
        {{model|json_script:'model-info'}}
        {{model_datasets_list|json_script:'model_datasets_list'}}
        {{current_page|json_script:'current-page'}}
        {{total_pages|json_script:'total-pages'}}

        <form id="model-dataset-create-form" action="{% url 'dataAdmin:manage-specific-model' pk=model.id %}" method="post">
            {% csrf_token %}
        </form>
        <script>
            document.getElementById('sidebar_nav') &&  document.getElementById('sidebar_nav').children[2].classList.add('active');
        </script>
        <script src="{% static 'spec_model_app-bundle.js'%}"></script>
        {%endblock%}

        
        {% block navbar-links %}
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'dataAdmin:manage-models'%}" style="display:inline;">Models</a>/
                        <a class="nav-link" href="{%url 'dataAdmin:manage-specific-model' pk=model.id %}" style="display:inline;">{{model.name}}</a>
                    </li>
                </ul>
            </div>
        {% endblock %}

        {%block footer%}
        
        {%endblock%}
    <!-- </body> -->
<!-- </html> -->