node_modules/
__pycache__/
.vscode/
datasets/
modelsManage/
mlflow_logs/
mlruns/


static/*-bundle.js
# for FrontEnd
FrontEnd/filter_widgets/node_modules/
FrontEnd/mathpad_page/node_modules/
# FrontEnd/filter_widgets/


# for backend
backend/aiMathpad/__pycache__/
backend/backend/__pycache__/
backend/dataAdmin/__pycache__/
backend/db.sqlite3
.vscode
backend/env/
postgres_data/
# backend/dl_models
# backend/db.sqlite3
# backend/media
# backend/dataAdmin
