.content-wrap {
    padding: 1rem;
}

.imageRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.imageRow > .imageCard {
  flex-basis: calc(20% - 10px); /* Adjust the width as needed */
}

@media (max-width: 768px) {
  .imageRow {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .imageRow > .imageCard {
    flex-basis: calc(50% - 10px); /* Adjust the width as needed for smaller screens */
  }
}

@media (max-width: 480px) {
  .imageRow > .imageCard {
    flex-basis: 100%; /* Full width for smaller screens */
  }
}

.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: medium;
  background: gray;
  width: 100px;
  height: 40px;
  cursor: pointer;
  bottom: 1%;
}

.prev-button {
  position: fixed;
  left: 10%;
}

.next-button {
  position: fixed;
  right: 10%;
}