.viewer{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    width:100%;
}
.viewer-body{
    display:flex;
    flex-direction:column;
}
.row_style{
    display:flex;
    flex-direction:row;
}

.row_style .row-item:first-child{
    width:10%;
    min-width:1cm;
}

.row_style .row-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0.2cm;
    margin:0.1cm;
}
.viewer-body .row_style .row-item:nth-child(2){
    border:1px solid #ccc;
    border-radius:0.2cm;
    cursor:pointer;
}
.row-item{
    width:20%;
    min-width:1.5cm;
}
.viewer-body{
    
}
.viewer-body .row_style:hover{
    background-color: #f1f1f1;
}
.viewer .filter-container{
/* padding-bottom:0.4cm; */
    margin-bottom:0.4cm;

    width:100%;
    /* padding:auto; */
}
.viewer .underliner{
    margin:0.2cm auto;
    border-bottom:1px solid #ccc;
    background-color: blue;
    height:0.1cm;
    width:0.7cm;
}
.viewer input{
    min-width:3cm;
    width:20%;
    display: block;
    margin:auto;
    text-align: center;
}