p {
  color: #333;
}
.text-display {
  font-size: 20;
  color: black;
}

.imageCard {
  width:75%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding: 55px;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .imageCard {
    width: 100%;
    max-width: 100%;
  }

  .rating-display {
    font-size: 16px;
  }

  .image-display {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .image-display img {
    max-width: 100%;
    height: auto;
  }

  .submit {
    font-size: 12px;
  }
}


@media (min-width: 768px) {
  .imageCard {
    /* width: calc(33.33% - 20px); */
    /* margin: 0 10px 20px; */
  }

  .image-display {
    position: relative;
    padding-top: 75%;
  }

  .image-display img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.rating-display {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  background: teal;
  color: #fff;
  border: 1px #eee solid;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 65%;
}

.popup-image {
  max-width: 100%;
  max-height: 400px; 
  object-fit: contain;
}

.popup-form {
  padding-top: 10px; 
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.input-group{
  display: flex;
  flex-direction: row;
  /* border: 1px solid #ccc; */
  padding: 8px 10px;
  border-radius: 8px;
  margin-top: 15px;
}

input{
  flex-grow: 2;
  border: none;
  font-size: 16px;
}

input:focus{
  outline: none;
}

.edit-button {
  margin-top: auto;
  border: 0;
  border-radius: 8px;
  color: #fff;
  background: #1795d4;
  border-color: #1795d4;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.image-card-button {
  border: 0;
  border-radius: 8px;
  color: #fff;
  background: #1795d4;
  border-color: #1795d4;
  width: 100px;
  height: 40px;
  cursor: pointer;
}


.image-card-cancel-button {
  border: 0;
  border-radius: 8px;
  color: #fff;
  background: gray;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

button:hover{
  transform: scale(0.98);
  opacity: 0.9;
}

.imageCard math-field{
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}